.sc-image-gallery {
  overflow: hidden;

  img {
    height: var(--gallery-image-mobile-height);

    @include breakpoint('medium') {
      height: var(--gallery-image-height);
    }
  }

  &__image-single {
    margin-right: 0.5rem;

    @include breakpoint('medium') {
      margin-right: 1rem;
    }

    &[aria-selected='false'] {
      opacity: 0.6;
    }
  }

  button {
    position: absolute;
    top: 100%;
    display: flex;
    justify-content: center;
    width: 2.5rem;
    height: 2.5rem;
    background-color: $color__white;
    border-color: rgba(0, 0, 0, 0.23);
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.23);
    transform: translateY(-100%);
    cursor: pointer;
    transition: all 0.3s ease-in-out;

    @include breakpoint('medium') {
      top: 50%;
      width: 2rem;
      height: 2rem;
      transform: translateY(-50%);
    }

    &:hover {
      color: $color__white;
      background-color: var(--accent-color--hover);
    }

    &:focus {
      color: $color__black;
      background-color: $color__white;
      outline: 0;
      @extend %focus--border;
    }

    svg {
      display: none;
    }

    &::before {
      font-family: sos;
      text-align: center;
    }

    &:not(.next) {
      left: 20px;

      @include breakpoint('medium') {
        left: 4rem;
      }

      &::before {
        content: '\e85b';
      }
    }

    &:not(.previous) {
      right: 20px;

      @include breakpoint('medium') {
        right: 4rem;
      }

      &::before {
        content: '\e85a';
      }
    }
  }

  &__captions {
    @include structure($size__spotlight-container-width, 'width');
    max-width: $size__spotlight-body-width;
    margin: auto;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      position: relative;

      &::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 20px;
        width: calc(100vw - 40px);
        border-bottom: 2px solid #cecece;
      }
    }
  }

  &__captions-single {
    position: absolute;
    display: inline-flex !important;
    justify-content: center;
    height: 0;
    margin: auto;
    visibility: hidden;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      flex-wrap: wrap;
      justify-content: center;
    }

    @include breakpoint('medium') {
      padding: 1rem 0 0.5rem;
      border-bottom: 2px solid $color__ltgray;
    }

    &.active {
      position: relative;
      height: auto;
      visibility: visible;
    }

    &__indicator {
      white-space: nowrap;
      @extend %post-content__table-title;

      @include breakpoint('medium') {
        margin-right: 2rem;
      }
    }

    &__text {
      padding-bottom: 0.5rem;
      transform: translate3d(0, 50px, 0);
      opacity: 0;
      filter: blur(10px);
      @extend %post-content__caption-desc;

      @include breakpoint($break: 'medium', $dir: 'max-width') {
        max-width: calc(100vw - 40px);
      }

      .active & {
        transform: translate3d(0, 0, 0);
        opacity: 1;
        filter: blur(0);
        transition: all 0.3s ease-in-out;
      }

      &-label {
        @extend %post-content__caption-label;
      }

      &-label--credit {
        color: $color__ltgray-dark;
        font-weight: bold;
      }

      &-source {
        @extend %post-content__caption-desc--sm;
      }
    }
  }
}
