.sc-single-image {
  img {
    display: block;
    max-width: 100%;
    height: auto;
    margin: auto;
  }

  .img-caption {
    margin: 0.5rem auto 0;
    @extend %post-content__caption-desc;

    &-label {
      @extend %post-content__caption-label;
    }
  }
}

.img-caption__source {
  @extend %post-content__caption-desc--sm;
}
