#{$spotlight}__intro {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  min-height: calc(100vh - 4rem);
  margin: 0 -50vw;
  background-color: $color__map-bg;

  &::after {
    position: absolute;
    top: calc(100% - 120px);
    left: 0;
    display: block;
    content: '';
    width: 100%;
    height: 120px;
    background: linear-gradient(
      180deg,
      rgba(255, 255, 255, 0),
      rgba(255, 255, 255, 0.8) 50%,
      rgba(255, 255, 255, 1)
    );
  }

  .post-title {
    margin-bottom: 1rem;
    font-family: $font__freight;
    font-weight: 300;
    @include font-size(40px);
    line-height: 1.2;

    @include breakpoint('medium') {
      @include font-size(48px);
      line-height: 1.3;
    }

    @include breakpoint('large') {
      @include font-size(56px);
    }
  }

  .post-meta {
    color: $color__white;
    font-weight: 400;

    &__label {
      color: $color__map-ice-base;
    }
  }

  #arctic__intro-bg {
    position: absolute;
  }

  #intro_background {
    display: none;
  }

  #intro_bgmap-blur {
    opacity: 0;
  }

  #arctic__intro-metacontainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    max-width: 700px;
    min-height: 40vh;
    margin: 0 auto;
    padding: 50px 1rem 0;
    color: #fff;
  }
}

#spotlight__intro {
  margin-bottom: 4rem;

  .spotlight__header-desc {
    padding-left: 1rem;
    border-left: 1px solid hsla(0, 0%, 60.8%, 0.58);
  }
}

#spotlight__intro-p {
  margin-bottom: 2rem;
  font-weight: 300;
  @include font-size(20px);
  line-height: 1.44;

  @include breakpoint('large') {
    width: 800px;
  }
}
