#{$spotlight}__map {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  min-height: calc(100vh - 4rem);
  margin: 2rem -50vw;

  &::before {
    content: '';
    display: block;
    width: 100vw;
    height: 150px;
    margin-top: 5rem;
    background: linear-gradient(
      180deg,
      rgba(100, 120, 153, 0),
      rgba(100, 120, 153, 0.8) 50%,
      rgba(100, 120, 153, 1)
    );
  }

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color__map-bg;
  }

  &-map {
    position: sticky;
    @include structure(
      $size__header-height--minimal,
      'top',
      ('small', 'large')
    );
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    @include breakpoint('medium') {
      $header-height: map-get($size__header-height--minimal, 'large');
      z-index: 1;
      height: calc(100vh - #{$header-height});
    }

    &::after {
      content: '';
      position: relative;
      left: -200px;
      z-index: 5;
      display: block;
      float: left;
      width: 200px;
      height: 100%;
      background: linear-gradient(
        to right,
        rgba(100, 120, 153, 0) 0%,
        rgba(100, 120, 153, 0.5) 50%,
        rgba(100, 120, 153, 1) 100%
      );
    }
  }

  &-prose {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    margin: 0 2rem 0 auto;
    padding: 1px 1rem;

    @include breakpoint('medium') {
      width: 33%;
      max-width: 700px;
      padding: 1px 0;
    }

    h3,
    p {
      color: $color__white;
      text-shadow: 1px 1px 6px rgba($color__black, 0.6);
    }
  }

  &-trigger {
    $header-height: map-get($size__header-height, 'small');
    margin-top: 75vh;
    margin-bottom: 0;
    padding: 1rem 0;
    background-color: rgba($color__map-bg, 0.87);

    @include breakpoint('medium') {
      margin-top: calc(50vh - #{$header-height});
      margin-bottom: 75vh;
      padding: 1rem;
    }
  }

  svg {
    width: 100vw;
    background-color: $color__map-bg;

    @include breakpoint('medium') {
      float: left;
      width: unset;
      max-width: 100vw;
      height: 100%;
    }

    > g {
      transform: scale(1.3) translateY(-110px);

      @include breakpoint('medium') {
        transform: none;
      }
    }
  }

  .slide > *,
  .js-control-slide-group {
    opacity: 0;
    transition: all 0.3s linear;

    &.is-active {
      opacity: 1;
    }
  }
}

#{$spotlight}__legend {
  padding: 1rem 1rem 0;
  color: $color__white;
  background-color: $color__map-bg;

  @include breakpoint('medium') {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    max-width: 325px;
    padding-bottom: 1rem;
    background-color: rgba($color__map-bg, 0.87);
  }

  p {
    margin-bottom: 0.5rem;
    padding-bottom: 0.5rem;
    color: lighten($color__map-ice-base, 10%);
    font-weight: 200;
    @include font-size(14px);
    line-height: 1.25rem;

    @include breakpoint('medium') {
      @include font-size(16px);
      line-height: 1.25rem;
    }
  }

  &-curr {
    font-weight: 300;
    @include font-size(18px);
    letter-spacing: 1px;

    @include breakpoint('medium') {
      @include font-size(20px);
    }
  }

  #layer-selector {
    color: $color__white;
    font-weight: 300;
    @include font-size(18px);
    letter-spacing: 1px;

    @include breakpoint('medium') {
      @include font-size(20px);
    }

    &:not(:disabled) {
      /* stylelint-enable */
      padding-right: 1.5rem;
      color: $color__black;
      font-weight: 400;
      background-image: linear-gradient(
        45deg,
        transparent 50%,
        $color__white 50%
      ),
        linear-gradient(135deg, $color__white 50%, transparent 50%);
      background-repeat: no-repeat;
      background-position: calc(100% - 20px) 50%, calc(100% - 15px) 50%;
      background-size: 5px 5px, 5px 5px;
      /* stylelint-disable */
      -webkit-appearance: none;
      -moz-appearance: none;
    }
  }

  ul {
    /* autoprefixer grid: no-autoplace */
    display: grid;
    grid-row-gap: 0.5rem;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
    margin: 0;
    padding: 0;
    font-weight: 300;
    @include font-size(16px);
    list-style: none;
  }

  li {
    display: flex;
    align-items: center;
    margin-bottom: 0 !important;

    &.arctic__legend-key--median {
      display: none;
      grid-column: span 2;

      &::before {
        display: inline-block;
        width: 2rem;
        height: 3px;
        margin-right: 1rem;
        background-color: $color__map-median;
        content: '';
      }
    }

    $hidden-years: (2015, 2016, 2017);
    @each $year in $hidden-years {
      &.ice--#{$year} {
        display: none;
      }
    }

    &.is-active {
      display: flex;
    }
  }
}

#{$spotlight}__map-source {
  position: relative;
  top: -64px;
  padding: 1rem 1rem 0;
  @extend %post-content__caption-desc--sm;
  color: $color__white;
  line-height: 1.33;
}
// Checkbox
.checkbox-container {
  position: relative;

  input[type='checkbox'] {
    position: absolute;
    opacity: 0;
  }

  input[type='checkbox'] + label {
    display: flex;
    opacity: 0.7;
  }

  input[type='checkbox'] + label::before {
    display: inline-block;
    align-self: stretch;
    width: 2rem;
    margin-right: 0.5rem;
    transition: 0.2s;
    content: '';
  }

  @each $year, $color in $color__map-ice {
    &.ice--#{$year} input[type='checkbox'] + label::before {
      background-color: $color;
    }
  }

  input[type='checkbox']:checked + label {
    opacity: 1;
  }

  input[type='checkbox']:focus + label::before,
  input[type='checkbox']:checked:focus + label::before,
  input[type='checkbox']:hover:not(:disabled) + label::before {
    outline: 1px solid $color__white;
  }
}
