/*====================================
=          Further Reading           =
===================================*/

.further-reading {
  &__title {
    @extend %section-heading;
    margin-bottom: 0.5rem;
    text-transform: uppercase;
  }

  &__text {
    ul {
      padding-left: 0;
    }

    li {
      margin-bottom: 1rem;
      list-style-type: none;
      @extend %body-text__med;

      &::after {
        content: ' \e812 ';
        color: $color__dkblue;
        font-family: 'sos';
        @include font-size(12px);
        word-break: normal;
        visibility: visible;

        &:hover {
          color: $color__dkblue-darker;
        }
      }

      &:hover {
        color: $color__dkblue;
        transition: inherit;
      }
    }
  }
}
