/*====================================
=              Keywords              =
===================================*/

.keywords {
  display: flex;
  padding: 0.5rem;

  &__label {
    @extend %tag__label;
    padding-top: 0.1rem;
  }

  ul {
    display: inherit;
    margin: 0;
    padding: 0;
    text-align: left;
    list-style-type: none;
  }

  li {
    @extend %tag;
    justify-content: space-between;
    padding: 0 1.2rem;
    text-transform: lowercase;
    list-style-type: none;

    &:hover {
      color: $color__red;
    }
  }
}
