/*====================================
=              Keywords              =
===================================*/

.keywords {
  display: flex;
  padding: 0.5rem;
  vertical-align: bottom;

  &__label {
    @extend %tag__label;
  }

  ul {
    display: inherit;
    margin: 0;
    text-align: left;
    list-style-type: none;
  }

  li {
    @extend %tag;
    justify-content: space-between;
    padding: 0.5rem;
    text-transform: lowercase;
    list-style-type: none;
  }

  a {
    border-radius: 15px;

    &:hover {
      transition: all 0.3s ease-in-out;
    }
  }
}
