/*=============================
=            Media            =
=============================*/

img {
  max-width: 100%;
  height: auto;
}

figure {
  margin: 0;

  div[class*='sc--float-'] & {
    position: relative;
    height: 0;
    padding-bottom: 56.25%;

    img {
      position: absolute;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  // .image-gallery & {
  //   padding-bottom: 8.4375%;
  // }
  //
  // .image-gallery & {
  //   position: relative;
  //   height: 0;
  // }
}

.img-caption,
.image-group__caption,
.image-gallery__caption {
  margin: auto;
  @include structure($size__spotlight-container-width, 'max-width');
}

.img-caption,
.image-group__caption,
.image-gallery__caption {
  @extend %post-content__caption-desc;

  &-label {
    @extend %post-content__caption-label;
  }

  &__source {
    @extend %post-content__caption-desc--sm;
  }
}

.image-group {
  &__images {
    display: grid;
    margin-bottom: 0.5rem;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      grid-gap: 0.5rem;
    }

    @include breakpoint('medium') {
      grid-gap: 1rem;
    }

    .image-group:not(.sc--float-left):not(.sc--float-right) & {
      @include breakpoint('medium') {
        grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
      }
    }
  }

  &__caption {
    grid-column: 1 / -1;

    &-label::before {
      display: inline-block;
      text-transform: uppercase;
    }
  }

  &__caption-label.top::before {
    content: 'top:';

    .image-group:not(.sc--float-left):not(.sc--float-right) & {
      @include breakpoint('medium') {
        content: 'left:';
      }
    }
  }

  &__caption-label.middle::before {
    content: 'middle:';

    .image-group:not(.sc--float-left):not(.sc--float-right) & {
      @include breakpoint('medium') {
        content: 'center:';
      }
    }
  }

  &__caption-label.bottom::before {
    content: 'bottom:';

    .image-group:not(.sc--float-left):not(.sc--float-right) & {
      @include breakpoint('medium') {
        content: 'right:';
      }
    }
  }
}

.image-gallery {
  .tns-outer {
    position: relative;

    .tns-controls {
      position: absolute;
      left: 50%;
      z-index: 99;
      display: flex;
      justify-content: space-between;
      width: calc(100% - 4rem);
      margin-left: auto;
      transform: translate(-50%, -50%);

      @include breakpoint($break: 'medium', $dir: 'max-width') {
        top: 100%;
      }

      @include breakpoint('medium') {
        top: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }

  button {
    background-color: $color__white;
    border-color: rgba(0, 0, 0, 0.23);
    border-radius: 50%;
    box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.23);
    cursor: pointer;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      width: 3rem;
      height: 3rem;
    }

    @include breakpoint('medium') {
      width: 2rem;
      height: 2rem;
    }

    i {
      display: flex;
      justify-content: center;
      align-items: center;

      @include breakpoint($break: 'medium', $dir: 'max-width') {
        &::before {
          @include font-size(20px);
        }
      }
    }

    &:hover {
      color: $color__white;
      background-color: rgba(var(--accent-color), 1);
    }

    &:focus {
      color: $color__black;
      background-color: $color__white;
      @extend %focus--border;
      outline: 0;
    }
  }

  &__image {
    @include breakpoint($break: 'medium', $dir: 'max-width') {
      width: auto;
      height: 50vw;
    }

    @include breakpoint('medium') {
      width: auto;
      height: 65vh;
      min-height: 300px;
      max-height: 750px;
    }

    &.tns-slide-active {
      opacity: 1;
      transition: opacity 0.3s ease-in-out;

      img {
        // width: 100%;
      }
    }

    &:not(.tns-slide-active) {
      opacity: 0.5;

      img {
        display: block;
        width: calc(100% - 2rem);
        // left: 1rem;
        margin: auto;
      }
    }

    img {
      width: auto;
      max-width: unset;
      // position: absolute;
      // object-fit: cover;
      height: 100%;
    }
  }

  &__captions {
    transition-duration: 0s !important;
  }

  &__caption {
    display: inline-flex !important;
    justify-content: center;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      flex-wrap: wrap;
      justify-content: center;
      padding: 0.5rem 20px 0;
    }

    @include breakpoint('medium') {
      padding: 1rem 0 0.5rem;
      border-bottom: 2px solid $color__ltgray;
    }

    &.tns-item:not(.tns-slide-active) {
      opacity: 0;
    }

    &-label {
      white-space: nowrap;

      @include breakpoint($break: 'medium', $dir: 'max-width') {
        @include font-size(18px);
      }

      @include breakpoint('medium') {
        @include font-size(20px);
        margin-right: 2rem;
      }
    }

    &-text {
      padding-bottom: 0.5rem;

      @include breakpoint($break: 'medium', $dir: 'max-width') {
        border-bottom: 2px solid $color__ltgray;
      }
    }
  }
}

iframe {
  display: block;
  margin-bottom: 1rem;
}

.video-wrapper {
  position: relative;
  margin-bottom: 2rem;

  &::before {
    content: '';
    display: block;
    padding-bottom: calc(100% / (16 / 9));
  }

  * + & {
    margin-top: 2rem;
  }

  > img {
    height: auto;
  }

  > :first-child {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}
