/*============================
=            Post            =
============================*/

.post-block {
  $post: &;
  margin-bottom: 1.5rem;

  @include breakpoint('medium') {
    margin-bottom: 2.5rem;
    padding-right: 1.5rem;
  }

  @include breakpoint('large') {
    max-width: calc(#{$size__post-body-max-width} + 5vw);
    margin-bottom: 2rem;
    padding-right: 5vw;
  }

  .home__commentary & {
    margin-bottom: 1rem;
  }

  &--img {
    $body-width: minmax(auto, $size__post-body-max-width);
    display: grid;
    grid-column-gap: 1.5rem;
    grid-template-areas:
      'header img'
      'content img';
    grid-template-columns: $body-width 80px;
    grid-template-rows: auto auto;
    padding-right: 0;

    @include breakpoint('medium') {
      grid-column-gap: 2rem;
      grid-template-columns: $body-width 190px;
      grid-template-rows: 1fr 2fr;
      max-height: min-content;
      padding-right: 0;
    }

    @include breakpoint('large') {
      grid-template-columns: $body-width 30%;
      max-width: 100%;
      padding-right: 0;
    }

    @include breakpoint('xlarge') {
      grid-template-columns: $body-width 270px;
    }
  }

  &__header {
    grid-area: header;
    padding-bottom: 0.75rem;

    .home__commentary & {
      padding-bottom: 0;
    }

    #{$post}__title {
      margin-bottom: 0.5rem;
      @extend %post-block__title;

      &:hover {
        color: $color__medblue;
      }

      &:focus {
        @extend %focus--bg;
        color: $color__medblue;
      }

      .archive__featured & {
        @extend %post-block__title--featured;
      }

      .home__spotlights & {
        @extend %post-block__title--home;
      }

      .home__commentary & {
        margin-bottom: 0.25rem;
        @extend %post-block__title--related;
      }
    }
  }

  &__content {
    grid-area: content;

    .layout-home & {
      padding-bottom: 1rem;
    }

    p {
      margin-bottom: 0;
      @extend %body-text__med;
    }
  }

  &__footer {
    .layout-home & {
      padding-bottom: 0.25rem;

      .post-meta {
        margin-bottom: 0.5rem;
      }

      .post-meta__label {
        display: block;
      }
    }
  }

  &__content,
  &__footer {
    .layout-home & {
      margin: 0 0.5rem;
      padding-right: 0.5rem;
      padding-left: 0.5rem;
      border-left: 1px solid $color__gray-58;
    }
  }

  &__img {
    grid-area: img;

    .layout-home & {
      display: block;
      margin-bottom: 1rem;
    }

    img {
      display: block;
      object-fit: cover;
      width: 100%;
      @include structure($size__post-block-img--height, 'height');
      line-height: 1;

      .layout-home & {
        width: 100%;
        height: auto;
        max-height: 220px;
      }
    }
  }

  .archive &--featured {
    margin-bottom: 2rem;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      grid-template-areas:
        'header'
        'img'
        'content';
      grid-template-columns: auto;
    }

    #{$post}__header {
      padding-top: 1rem;

      @include breakpoint($break: 'medium', $dir: 'max-width') {
        padding-right: 1.5rem;
      }
    }

    #{$post}__img img {
      @include breakpoint($break: 'medium', $dir: 'max-width') {
        height: 150px;
      }
    }

    #{$post}__content {
      @include breakpoint($break: 'medium', $dir: 'max-width') {
        padding-top: 0.75rem;
      }
    }
  }
}
