/*============================
=        Post Meta           =
============================*/

.post-meta {

  &__label {

  }

  &__authors-block,
  &__authors-list,
  &__date {
    @extend %post-block__meta;
    color: $color__black;
    text-transform: uppercase;
  }

  &__authors-list::before,
  &__authors-block-wrapper {
    content: "By ";
    @extend %post-block__meta-label;
    color: $color__dkgray;
    text-transform: capitalize;
  }

  &__date::before {
    content: "Published ";
    @extend %post-block__meta-label;
    color: $color__dkgray;
    text-transform: capitalize;
  }

}
