/*============================
=        Post Meta           =
============================*/

.post-meta {
  &__authors-block-title,
  &__authors-list,
  &__date {
    @extend %post-block__meta;
    color: $color__black;
    text-transform: uppercase;
  }

  &__label {
    @extend %post-block__meta-label;
    color: $color__dkgray;
    line-height: 1.5rem;
    text-transform: capitalize;
  }

  &__date {
    display: block;

    .post__content-aside & {
      width: 45%;
      white-space: pre-line;
      border-bottom: solid 1px $color__ltgray;

      @include breakpoint('large') {
        width: 100%;
      }
    }
  }

  &__authors-block {
    @extend %post-content__caption-desc;

    .post-meta__read-more {
      @extend %post-content__caption-link;
      text-transform: uppercase;
    }
  }

  &__authors-block-title {
    &::before {
      content: '\A';
      white-space: pre-line;
    }

    &::after {
      content: '\A';
      white-space: pre-line;
    }
  }
}
