/*============================
=      Related Posts         =
============================*/

.related-posts {
  display: flex;
  flex-wrap: wrap;

  &__header {
    @extend %post-block__type--related;
    flex-basis: 100%;
    padding-bottom: 0.5rem;
    text-transform: uppercase;
  }

  .post-block {
    margin-bottom: 0;

    @include breakpoint($break: 'medium', $dir: 'max-width') {
      flex-basis: 100%;

      &:last-child:not(:only-child) {
        margin-top: 1rem;
      }

      .post-block__title {
        margin-bottom: 0;
        @include font-size(20px);
      }
    }

    @include breakpoint('medium') {
      flex-basis: calc(50% - 4rem);

      &:last-child:not(:only-child) {
        margin-left: 4rem;
      }
    }

    &__header {
      margin-bottom: 0;

      .post-meta__label {
        @include font-size(15px);
      }
    }
  }
}
