/*============================
=      Related Posts         =
============================*/

.related-posts {
  display: grid;
  grid-row-gap: 0.5rem;

  @include breakpoint('medium') {
    grid-column-gap: 4rem;
    grid-template-columns: auto auto;
    grid-template-rows: 1;
  }

  &__header {
    @extend %post-block__type--related;
    grid-column: 1 / -1;
    text-transform: uppercase;
  }

  &__block {
    @include breakpoint($break: 'medium', $dir: 'max-width') {
      &:first-of-type:not(:only-child) {
        margin-bottom: 0.5rem;
      }
    }

    &__title {
      @extend %post-block__title--related;
      margin-bottom: 0.25rem;
    }

    .post-meta {
      @extend %archive__results;

      &__label {
        @extend %tag__label;
      }
    }
  }
}
