/*==================================
=       Social Share Icons         =
==================================*/

.share {
  display: flex;
  align-items: center;

  ul {
    justify-content: space-between;
    list-style-type: none;
  }

  li {
    display: inherit;
    margin: 0;
    text-align: center;
    line-height: 1;
  }

  i {
    font-size: 1.2rem;
    transition: inherit;
  }

  .post__header-content & {
    float: right;
    // align-content: flex-end;

    li {
      color: $color__white;
      padding: 0.3rem 0 0 0;
      margin: 0 -1rem 0 0;
      height: 1.3rem;
      opacity: 0.7;
    }
  }

  .post__footer & {
    li {
      padding-right: 0.1rem;
      flex-direction: row;
    }
  }
}
