/*==================================
=       Social Share Icons         =
==================================*/

.site-header__share {
  display: flex;
  transition: transform 0.5s linear, visibility 0s linear 0.3s;

  .site-header:not(.site-header--minimal) & {
    transform: translateX(200%);
  }

  @include breakpoint($break: 'medium', $dir: 'max-width') {
    flex-direction: column;
  }

  &-trigger {
    position: relative;
    z-index: 1;
    display: block;
    padding: 0;
    background-color: transparent;
    border: 0;
    cursor: pointer;
    transition: 0.5s ease-in-out;

    &:hover {
      color: $color__medblue;
    }

    &:focus {
      outline: 0;
      @extend %focus--border;
    }

    &.is-active {
      color: $color__slate;
    }
  }
}

.share-site__header {
  visibility: hidden;
  transition: transform 0.5s linear, visibility 0s linear 0.3s;

  @include breakpoint($break: 'medium', $dir: 'max-width') {
    transform: translateY(-150%);
  }

  @include breakpoint('medium') {
    transform: translateX(150%);
  }

  &.is-active {
    transform: translateY(0);
    visibility: visible;
  }

  @include breakpoint($break: 'medium', $dir: 'max-width') {
    position: absolute;
    top: 100%;
    right: 20px;
    z-index: -1;
    flex-direction: column;
  }

  @include breakpoint('medium') {
    order: -1;
  }

  li a {
    color: $color__medblue;
    text-shadow: 2px 2px 4px rgba($color__black, 0.33);

    @include breakpoint('medium') {
      margin: 0 0.5rem;
    }

    &:hover {
      color: $color__bluegray;
    }
  }
}

.share-post__header {
  flex-direction: column;

  @include breakpoint($break: 'medium', $dir: 'max-width') {
    display: none;
  }

  @include breakpoint($break: 'medium', $until: 'xlarge') {
    margin-right: return-map-value($size__content-margin--post, 'large');
  }

  li a {
    margin-right: 2px;
    color: $color__white;
    opacity: 0.7;
  }

  .archive & {
    align-self: flex-end;
    position: relative;
    bottom: 20%;
  }
}

.share-post__footer {
  @include breakpoint($break: 'medium', $dir: 'max-width') {
    font-size: 1.3rem;
  }

  li {
    &:not(:first-child) {
      margin-left: 1rem;
    }

    a {
      color: $color__dkgray;

      &:hover {
        color: $color__medblue;
      }
    }
  }
}

.share {
  display: flex;
  margin: 0;
  padding-left: 0;

  li {
    text-align: center;
    list-style-type: none;

    a {
      display: block;
      border: 2px solid transparent;

      &:hover {
        transform: scale(1.2);
        opacity: 1;
      }

      &:focus {
        @extend %focus--border;
        background-color: transparent;
        outline: 0;
      }
    }

    i::before {
      width: auto;
      height: auto;
      margin: 0;
    }
  }
}
