$spotlight: '.scs';
$color__green: #b0cb9d;

$color__default-accent: $color__green;
$color__default-accent--hover: rgba($color__green, 0.8);

:root {
  --accent-color: #{$color__default-accent};
  --accent-color--hover: #{$color__default-accent--hover};
}
