%scs-chart {
  .highcharts-container {
    margin: 2rem 0;
  }

  .highcharts-title {
    @extend %post-content__table-title;
    fill: $color__black;
  }

  .highcharts-subtitle {
    @extend %post-content__caption-desc;
  }

  .highcharts-tick {
    opacity: 0;
  }

  .highcharts-axis-labels,
  .highcharts-legend-item {
    @extend %spotlight-component__label;
  }

  .highcharts-legend-item {
    font-weight: normal;
  }

  .highcharts-root {
    @extend %body-text__med;
  }
}

#chartCatch {
  $china: $color__red;
  $spratly: $color__medblue;
  $scs: $color__ltblue-lighter;

  @extend %scs-chart;

  .highcharts-series-scs .highcharts-point {
    fill: rgba($scs, 0.6);
  }
}

#chartVessels {
  $subi: $color__medblue;
  $mischief: $color__red;

  @extend %scs-chart;

  .highcharts-legend-item:first-of-type .highcharts-point {
    fill: $subi;
  }

  .highcharts-legend-item:last-of-type .highcharts-point {
    fill: $mischief;
  }

  .highcharts-series-subi {
    &-area {
      .highcharts-area {
        fill: rgba($subi, 0.6);
      }

      .highcharts-graph {
        stroke: none;
      }

      &.highcharts-tracker .highcharts-point {
        fill: none;
      }
    }

    &-column {
      .highcharts-point {
        fill: $subi;
      }
    }
  }

  .highcharts-series-mischief {
    &-area {
      .highcharts-area {
        fill: rgba($mischief, 0.6);
      }

      .highcharts-graph {
        stroke: none;
      }

      &.highcharts-tracker .highcharts-point {
        fill: none;
      }
    }

    &-column {
      .highcharts-point {
        fill: $mischief;
      }
    }
  }
}
