.timeline {
  margin-bottom: 2rem;

  &__indicator {
    display: flex;
    align-items: center;

    .post-meta {
      white-space: nowrap;

      &:first-of-type {
        margin-right: 1rem;
      }

      &:last-of-type {
        margin-left: 1rem;
      }
    }

    button {
      padding: 0;
      color: $color__default-accent;
      background-color: transparent;
      border: 0;
      cursor: pointer;

      &:hover {
        color: $color__default-accent--hover;
      }
    }

    &__progress {
      position: relative;
      width: 100%;
      height: 0.2rem;
      background-color: #b3b3b3;

      &-marker {
        position: absolute;
        top: -100%;
        left: -0.3rem;
        width: 0.6rem;
        height: 0.6rem;
        background-color: #000;
        border-radius: 50%;
      }

      &-ticks {
        position: relative;
        top: -150%;
        display: flex;
        justify-content: space-between;
        height: 0.8rem;
      }

      .tick {
        &:nth-child(even) {
          border-right: 1px #000 solid;
        }

        &:nth-child(odd) {
          position: relative;
          top: 10%;
          height: 0.6rem;
          border-right: 1.4px dotted #000;
        }

        &:first-child {
          border-left: 1px #000 solid;
        }
      }
    }
  }

  &__graphic {
    position: relative;
    width: 100%;
    height: 404px;
    margin: 1rem 0;
    overflow: hidden;

    img {
      position: absolute;
    }
  }
}
