#{$spotlight}__intro {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  min-height: calc(100vh - 4rem);
  margin: 0 -50vw;

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
  }

  &-video,
  &-map {
    right: 0;
    bottom: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s linear;

    &.is-active {
      visibility: visible;
      opacity: 1;
    }
  }

  &-video {
    position: absolute;
    top: 0;
    background-color: #20485a;

    &.is-active {
      position: fixed;
    }

    &-player {
      object-fit: cover;
      width: 100vw;
      height: 100%;
      object-position: center top;
      transform: translate3d(0, 0, 0);
    }
  }

  &-map {
    position: relative;
    top: calc(100% - 200vh);
    height: 200vh;
    background-color: $color__map-bg;

    &.is-active:not(.is-last) {
      #country-labels,
      #intro__slide0,
      #intro__slide1 {
        opacity: 1;
      }

      #intro__slide0 {
        transition-delay: 1s;
      }

      #intro__slide1 {
        transition-delay: 2s;
      }
    }

    &.is-active.is-last {
      #intro__slide0,
      #intro__slide2,
      .intro__ninedash {
        opacity: 1;
      }

      #intro__slide0 > *:not(.intro__ninedash),
      #intro__slide1 {
        opacity: 0.4;
      }

      #intro__slide1 .intro__ninedash {
        opacity: 1;
      }

      #country-labels,
      #south-china-sea {
        opacity: 0;
      }

      #nine-dash-crosshatch {
        opacity: 1;
        transition-delay: 0.75s;
      }
    }

    #intro__slide0,
    #intro__slide1,
    #intro__slide2,
    #country-labels,
    #south-china-sea,
    #nine-dash-crosshatch {
      opacity: 0;
      transition: all 0.5s linear;
    }

    .intro__ninedash {
      transition: all 0.5s linear;
    }

    svg {
      position: sticky;
      @include structure(
        $size__header-height--minimal,
        'top',
        ('small', 'large')
      );
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      width: 100vw;
      background-color: $color__map-bg;

      @include breakpoint('medium') {
        z-index: 0;
        width: unset;
        max-width: 100vw;
        height: 100vh;
      }
    }
  }

  &-prose {
    position: relative;
    width: 100%;
    min-height: 100vh;
    margin: 0 1rem 0 auto;
    padding: 1px 20px;
    color: $color__white;
    text-shadow: 1px 1px 6px rgba($color__black, 0.6);
    @include font-size(22px);

    @include breakpoint('medium') {
      width: 50%;
      max-width: 700px;
      padding: 1px 24px;
    }

    @include breakpoint('large') {
      padding: 1px 32px;
    }

    .post-title {
      margin-bottom: 2rem;
      font-family: $font__freight;
      font-weight: 400;
      @include font-size(40px);
      line-height: 1.2;

      @include breakpoint('medium') {
        margin-left: -100%;
        @include font-size(48px);
        line-height: 1.3;
      }

      @include breakpoint('large') {
        margin-left: -25%;
        @include font-size(56px);
      }
    }

    .spotlight__header-desc {
      padding-left: 1rem;
      border-left: 1px solid hsla(0, 0%, 60.8%, 0.58);

      @include breakpoint('medium') {
        margin-left: -75%;
      }

      @include breakpoint('large') {
        margin-left: unset;
      }

      p {
        margin-bottom: 2rem;
        font-weight: 300;
        @include font-size(20px);
        line-height: 1.44;
      }
    }

    .post-meta {
      color: $color__white;

      &__label {
        color: $color__ltblue-lighter;
      }
    }
  }

  &-trigger {
    $header-height: map-get($size__header-height, 'small');
    height: 50vh;
    margin-top: calc(50vh - #{$header-height});

    @include breakpoint('medium') {
      margin-top: calc(40vh - #{$header-height});
    }

    &[data-step='0'] {
      @include breakpoint($break: 'medium', $dir: 'max-width') {
        margin-top: 30vh;
        margin-bottom: 75vh;
      }
    }
  }
}
