#{$spotlight}__map {
  position: relative;
  right: 50%;
  left: 50%;
  width: 100vw;
  min-height: calc(100vh - 4rem);
  margin: 2rem -50vw;

  &-bg {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: $color__map-bg;
  }

  &-map {
    position: sticky;
    @include structure(
      $size__header-height--minimal,
      'top',
      ('small', 'large')
    );
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;

    @include breakpoint('medium') {
      $header-height: map-get($size__header-height--minimal, 'large');
      z-index: 1;
      height: calc(100vh - #{$header-height});
    }
  }

  &-prose {
    position: relative;
    z-index: 1;
    width: 100%;
    min-height: 100vh;
    margin: 0 2rem 0 auto;
    padding: 1px 1rem;

    @include breakpoint('medium') {
      width: 33%;
      max-width: 700px;
      padding: 1px 0;
    }

    p {
      color: $color__white;
      text-shadow: 1px 1px 6px rgba($color__black, 0.6);
    }
  }

  &-trigger {
    $header-height: map-get($size__header-height, 'small');
    margin-top: calc(50vh - #{$header-height});
    margin-bottom: 50vh;
    padding: 1rem;
    background-color: rgba(#1e2b33, 0.87);
  }

  svg {
    width: 100vw;
    background-color: #131e24;

    @include breakpoint('medium') {
      height: 100%;
    }

    @include breakpoint('xlarge-2') {
      position: relative;
      left: 0;
      width: auto;
    }

    .key {
      @include breakpoint('medium') {
        transform: translate(0, 120px) scale(0.8);
      }
    }

    .slide {
      opacity: 0;
      transition: all 0.3s linear;

      &.is-active {
        opacity: 1;
      }
    }

    .st0 {fill: #aaadaf;}

    .st1,
    .st2 {
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    .st1 {fill-opacity: 0;}
    .st2 {fill: #35455b;}
    .st3 {fill: none;}

    .st4,
    .st5 {
      fill-rule: evenodd;
      clip-rule: evenodd;
    }
    .st4 {stroke: #ffeda9;}

    .st5 {fill: #49b5d3;
      stroke: #49b5d3;
      stroke-linecap: square;
      stroke-linejoin: bevel;}

    .st6 {opacity: 0.87;
      fill: #1e2b33;
      enable-background: new;}.st7 {fill: #445875;}.st8 {fill: #fff;}.st10 {font-size: 13px;}.st11 {fill: #49b5d3;}.st12 {fill: #ffeda9;}.st14 {font-size: 16px;}.st15 {letter-spacing: -1;}

    .st16 {opacity: 0.45;
      fill: none;
      stroke: #fff;
      stroke-miterlimit: 10;
      enable-background: new;}.st18 {display: inline;}

    .st19 {fill: #ffeda9;
      fill-rule: evenodd;
      clip-rule: evenodd;
      stroke: #232323;
      stroke-linecap: square;
      stroke-linejoin: bevel;
      stroke-opacity: 0;}
  }
}
