@import '../../abstracts/abstracts';

/*===========================
=                           =
=          Vessels          =
=                           =
===========================*/

%scs-chart {
  .highcharts-container {
    margin: 2rem 0;
  }

  .highcharts-title {
    @extend %post-content__table-title;
  }

  .highcharts-subtitle {
    @extend %post-content__caption-desc;
  }

  .highcharts-tick {
    opacity: 0;
  }

  .highcharts-axis-labels {
    @extend %spotlight-component__label;
  }

  .highcharts-root {
    @extend %body-text__med;
  }
}

#chartCatch {
  $china: #c2273f;
  $spratly: #f7941d;
  $scs: #8dc540;

  @extend %scs-chart;

  .highcharts-series-scs .highcharts-point {
    fill: rgba($scs, 0.6);
  }
}

#chartVessels {
  $subi: #f7941d;
  $mischief: #8dc540;

  @extend %scs-chart;

  .highcharts-legend-item:first-of-type .highcharts-point {
    fill: $subi;
  }

  .highcharts-legend-item:last-of-type .highcharts-point {
    fill: $mischief;
  }

  .highcharts-series-subi {
    &-area {
      .highcharts-area {
        fill: rgba($subi, 0.6);
      }

      .highcharts-graph {
        stroke: none;
      }

      &.highcharts-tracker .highcharts-point {
        fill: none;
      }
    }

    &-column {
      .highcharts-point {
        fill: $subi;
      }
    }
  }

  .highcharts-series-mischief {
    &-area {
      .highcharts-area {
        fill: rgba($mischief, 0.6);
      }

      .highcharts-graph {
        stroke: none;
      }

      &.highcharts-tracker .highcharts-point {
        fill: none;
      }
    }

    &-column {
      .highcharts-point {
        fill: $mischief;
      }
    }
  }
}
