/*===========================
=                           =
=          Vessels          =
=                           =
===========================*/
#chartVessels {
  height: 400px;
  max-width: 800px;
  margin: 0 auto;
}
.highcharts-title {
  fill: #434348;
  font-weight: bold;
  letter-spacing: 0.3em;
  font-size: 3em;
}
.highcharts-subtitle {
  font-family: 'Courier New', monospace;
  font-style: italic;
  fill: #7cb5ec;
}
.highcharts-legend text {
  text-shadow: 0 0 2px black, 0 0 2px black;
}
.highcharts-legend-box {
  fill: black;
  fill-opacity: 0.7;
  stroke: black;
  stroke-width: 1px;
}
.highcharts-legend-item text {
  fill: #e0e0e0;
  transition: fill 250ms;
}
.highcharts-legend-item:hover text {
  fill: white;
}
.highcharts-legend-item-hidden * {
  fill: gray !important;
  stroke: gray !important;
}
.highcharts-legend-title {
  fill: white;
  font-style: italic;
}
.highcharts-legend-navigation {
  fill: white;
}
.highcharts-legend-nav-active {
  fill: white;
}
.highcharts-legend-nav-inactive {
  fill: gray;
}

/* Link the series colors to axis colors */
.highcharts-color-0 {
  fill: #7cb5ec;
  stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 .highcharts-axis-line {
  stroke: #7cb5ec;
}
.highcharts-axis.highcharts-color-0 text {
  fill: #7cb5ec;
}
.highcharts-color-1 {
  fill: #90ed7d;
  stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 .highcharts-axis-line {
  stroke: #90ed7d;
}
.highcharts-axis.highcharts-color-1 text {
  fill: #90ed7d;
}

.highcharts-yaxis .highcharts-axis-line {
  stroke-width: 2px;
}

.highcharts-data-label-box {
  fill: #a4edba;
  stroke: gray;
  stroke-width: 1px;
}
.highcharts-data-label {
  font-weight: normal;
}
.highlight .highcharts-data-label-box {
  fill: red;
  stroke-width: 2px;
  stroke: black;
}
.highlight.highcharts-data-label text {
  font-weight: bold;
  fill: white;
}
