{% assign authors_list = page.authors %}
{% if post.authors.size > 0 %}
  {% assign authors_list = post.authors %}
{% endif %}

{% if authors_list.size > 0 %}
<div class="post-meta__authors-block">
  {% for author in authors_list %}
    <span class="post-meta__label">{{ site.data.language.by_label }}</span>
    {%- assign author_info = site.authors | where: "relative_path", author | first -%}
    <span class="post-meta__authors-block-title">{{ author_info.title }}</span>
    {{ author_info.content }}
    <a href="{{ author_info.url | relative_url }}" class="post-meta__read-more">{{ site.data.language.read_more }}</a>
  {% endfor %}
</div>
{% endif %}
