{% assign authors = page.authors %}
{% if post.authors.size > 0 %}
  {% assign authors = post.authors %}
{% endif %}

{% if authors.size > 0 %}
<div class="post-meta post-meta__authors-list">
  <span class="post-meta__label">{{ site.data.language.by_label }}</span>
    {% if authors.size == 2 %}
      {%- assign list_break = '&nbsp;and&nbsp;' -%}
    {% elsif authors.size >= 3 %}
      {%- assign list_break = ',&nbsp;' -%}
      {%- assign end_break = '&nbsp;and&nbsp;' -%}
    {% endif %}

    {% assign penultimate = authors.size | minus: 1 %}

      {%- for author in authors -%}
        {%- assign author_info = site.authors | where: "relative_path", author | first -%}
        {%- assign author_list = author_info.title -%}
          <a href="{{ author_info.url | relative_url }}">{{ author_list }}</a>
        {%- if forloop.last == false -%}
          {{- list_break -}}
        {%- endif -%}
        {% if forloop.index == penultimate %}
          {{- end_break -}}
        {% endif %}
      {%- endfor -%}
</div>
{% endif %}
