{%- if include.path.size > 0 -%}
<figure class="{{ include.classes | default: post__image }}">
{%- if include.mobile_path.size > 0 -%}
  <picture class="sc-image-picture">
{%- endif -%}

{%- assign height=null -%}
{%- if include.height.size > 0 -%}
  {%- assign height = include.height | prepend: '--gallery-image-height:' | append: ';' -%}
{%- endif -%}
{%- if include.mobile_height.size > 0 -%}
  {%- assign height = include.mobile_height | prepend: '--gallery-image-mobile-height:' | append: ';' | append: height -%}
{%- endif -%}
{%- if include.max_height.size > 0 -%}
  {%- assign height = include.max_height | prepend: 'max-height:' | append: ';' -%}
{%- endif -%}

{%- if include.path contains 'cloudinary' -%}
  {%- assign lg_image_name = include.path | split: "/upload/" | last -%}

  {%- if include.mobile_path.size > 0 -%}
    {%- assign sm_image_name = include.mobile_path | split: "/upload/" | last -%}
    <!--[if IE 9]><video style="display: none;><![endif]-->
    <source
      data-srcset="{{ site.cloudinary_url }}f_auto,q_auto,w_600/{{  sm_image_name }}"
      media="(max-width: 900px)" />
    <source
      data-srcset="{{ site.cloudinary_url }}f_auto,q_auto,w_auto/{{  lg_image_name }}" />
    <!--[if IE 9]></video><![endif]-->
    <img 
    data-src="{{ site.cloudinary_url }}f_auto,q_auto,w_auto/{{  lg_image_name }}" class="lazyload" 
    alt="{{ include.title | strip_html }}" style="{{ height }}" />
  </picture>
  {%- else -%}
    <img
    data-sizes="auto" 
    src="{{ site.cloudinary_url }}f_auto,q_10,w_auto,e_blur:1000/{{ lg_image_name }}"
    data-src="{{ site.cloudinary_url }}f_auto,q_auto,w_auto/{{ lg_image_name }}" 
    data-srcset="{{ site.cloudinary_url }}f_auto,q_auto,w_300/{{  lg_image_name }} 300w,
    {{ site.cloudinary_url }}f_auto,q_auto,w_600/{{  lg_image_name }} 600w,
      {{ site.cloudinary_url }}f_auto,q_auto,w_auto/{{ lg_image_name }} 900w"
    class="lazyload"
    alt="{{ include.title | strip_html }}"
    style="{{ height }}" />
  {%- endif -%}
{%- else -%}
  <img src="{{ include.path }}" title="{{ include.title | strip_html  }}" alt="{{ include.title | strip_html  }}" />
{%- endif -%}
  {%- if include.title and include.figcaption != false -%}
    <figcaption class="img-caption">{{ include.title }} <span class="img-caption__source">{{ include.alt }}</span></figcaption>
  {%- endif -%}
  </figure>
{%- endif -%}
