{%- assign align_class = null -%}
{%- if include.align -%}
  {%- assign align_class = include.align | prepend: 'sc--float-' -%}
{%- endif -%}
{%- assign size_class = null -%}
{%- if include.size -%}
{%- assign size_class = include.size | prepend: 'sc--' -%}
{%- endif -%}

{%- if include.url and include.title and align_class != null -%}
<span class="spotlight-component {{ align_class}} {{ size_class }}">
  <a href="{{ include.url }}" class="document__icon"><i class="icon-paperclip"></i></a>
  <span class="document__title"> {{ include.title }} </span>
  <span class="document__caption"> {{ include.caption }} </span>
</span>
{%- endif -%}
