<footer class="site-footer wrapper h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>
    <section class="site-footer__logo">
      CSIS Logo
    </section>
    <section class="site-footer__desc">
      {{- site.description | escape -}}
    </section>
    <section class="site-footer__mailing">
      <span>Mailing List</span>
    </section>
    <section class="site-footer__contact">
      Contact Info<br />
      {%- if site.email -%}
      <a class="u-email" href="mailto:{{ site.email }}">{{ site.email }}</a>
      {%- endif -%}
    </section>
    {% include site-nav.html class="footer__nav" location="inFooter" %}
    <section class="site-footer__copyright">
      Copyright
    </section>
</footer>

<script src="{{ "/assets/js/bundle.js" | relative_url }}" type="text/javascript"></script>
{%- if page.layout == 'archive' -%}
<script src="{{ "/assets/js/archives.js" | relative_url }}" type="text/javascript"></script>
{%- endif -%}
{% include footer-spotlights.html %}
