{%- if page.layout == 'spotlight' -%}
{%- assign header_secondary_class = 'site-header--minimal' -%}
{%- endif -%}

<header class="site-header {{ header_secondary_class }}" role="banner">
  <div class="wrapper">
    {%- include header-logo.html -%}
    {%- if page.layout == 'spotlight' -%}
    {%- include header-nav-spotlight.html -%}
    {%- include header-social.html -%}
    {%- else -%}
    {%- include header-nav.html -%}
    {%- endif -%}
    {%- include header-search.html -%}
  </div>
  <div style="
  background-color: aliceblue;
  width: 100vw;
">
    <p style="
  margin-inline: auto;
  width: 600px;
  color: #ef4723;
  padding: 10px;
">This website is no longer being updated. Click <a
        href="https://www.csis.org/programs/former-programs/stephenson-ocean-security-project">here</a> for the latest
      on the Stephenson Ocean Security Project.</p>
  </div>
</header>
