<div class="site-header__spotlight">
  <button
    class="site-header__spotlight-trigger menu-trigger"
    aria-expanded="false"
    aria-label="Toggle Menu"
  >
    <span class="line"></span> <span class="line"></span>
    <span class="line"></span> <span class="line"></span>
    <span class="visually-hidden">Menu</span>
  </button>
  <div class="site-header__section">Current Section</div>
  <div class="site-header__panel">
    <div class="site-header__panel-spotlight">
      <div class="site-header__panel-spotlight-title">{{ page.title }}</div>
      Spotlight Navigation
    </div>
    <div class="site-header__panel-site">
      <div class="site-header__panel-logo-sub">
        {{ site.data.language.about_the }}
      </div>
      <div class="site-header__panel-logo">{{ site.title }}</div>
      <p class="site-header__panel-desc">{{- site.description | escape -}}</p>
      {% include site-nav.html class='header__nav-menu
      site-header__nav-menu--spotlight' location="inHeader" %}
      <p class="site-header__panel-copyright">{{ site.data.language.csis }}</p>
    </div>
  </div>
</div>
