<nav class="site-header__nav" role="navigation">
  <button
    class="site-header__nav-trigger menu-trigger"
    aria-expanded="false"
    aria-label="Toggle Menu"
  >
    <span class="line"></span> <span class="line"></span>
    <span class="line"></span> <span class="line"></span>
    <span class="visually-hidden">Menu</span>
  </button>

  {% assign class = 'header__nav-menu' %} {% if page.layout == 'home' %} {%
  assign class = 'header__nav-menu site-header__nav-menu--home' %} {% endif %}
  {% include site-nav.html class=class location="inHeader" %} {%- if page.layout
  == 'spotlight' -%} {%- include header-nav-spotlight.html -%} {%- endif -%}
</nav>
