{%- assign align_class = null -%}
{%- if include.align -%}
  {%- assign align_class = include.align | prepend: 'sc--float-' -%}
{%- endif -%}
{%- if include.width -%}
  {%- assign width_class = include.width | prepend:  'sc--' -%}
{%- endif -%}
{%- if include.width and include.align -%}
  {%- assign width_class = include.width | prepend: 'sc--float-' -%}
{%- endif -%}


{%- assign images = include.images | strip_newlines | split: "~"  -%}
{%- assign captions = include.captions | strip_newlines | split: "~"  -%}
{%- assign credits_array = include.credits | strip_newlines | split: "~"  -%}
{%- assign credits = '' | split: ',' -%}

{%- for item in credits_array -%}
  {%- assign credit = item | strip  -%}
  {%- if credit.size > 0 -%}
    {%- capture credit -%}<span class="image-gallery__caption__source">{{ credit }}</span>{%- endcapture -%}
  {%- else -%}
    {% assign credit = "" -%}
  {%- endif -%}
  {% assign credits = credits | push: credit -%}
{%- endfor -%}


<div class="image-gallery spotlight-component {{ align_class}} {{ width_class}}">
  <!-- <div class="image-gallery__controls"><i class="icon-arrow-long_left">previous</i><i class="icon-arrow-long_right">next</i></div> -->
  <div class="image-gallery__images">
    {%- for image in images -%}

      {%- assign caption = captions[forloop.index0] -%}
      {%- assign credit = credits[forloop.index0] -%}

      {%- include single-image.html
        path=image
        figcaption=false
        caption=caption
        credit=credit
        class="image-gallery__image"
        -%}
    {%- endfor -%}
  </div>
    <div class="image-gallery__captions">
      {%- for image in images -%}

        {%- assign caption = captions[forloop.index0] -%}
        {%- assign credit = credits[forloop.index0] -%}

      <div class="image-gallery__caption">
        <span class="image-gallery__caption-label">1 of 3</span>
        <span class="image-gallery__caption-text">{{ captions[forloop.index0] }} {{ credits[forloop.index0] }}</span>
      </div>

      {%- endfor -%}
    </div>

</div>
