<article
  class="post-block js-transition--slide js-transition--slide-child"
  role="article"
  data-content-type="{{ post.collection | slugify }}"
>
  {% if post.image.size > 0 %}
  <a href="{{ post.url | relative_url }}" class="post-block__img">
    <img
      src="{{ post.image | relative_url }}"
      srcset="data:image/gif;base64,R0lGODlhAQABAAAAACH5BAEKAAEALAAAAAABAAEAAAICTAEAOw=="
      data-srcset="{{ post.image | relative_url }}"
      alt="{{ post.title | escape }}"
      title="{{ post.title | escape }}"
      class="lazyload"
    />
  </a>
  {% endif %}

  <header class="post-block__header">
    <h3 class="post-block__title">
      <a href="{{ post.url | relative_url }}">{{ post.title | escape }}</a>
    </h3>
  </header>
  <section class="post-block__content">
    <p>{{ post.excerpt }}</p>
  </section>
  <footer class="post-block__footer">
    {%- include authors-list.html -%} {%- include date.html -%}
  </footer>
</article>
