{% assign spotlights = page.related_spotlight | sort: 'date' %}
{%- for spotlight in spotlights -%}
  {% assign related_spotlights = site.spotlights | where: "relative_path", related | first %}
{%- endfor -%}

{% assign commentaries = page.related_commentary %}
{%- for commentary in commentaries -%}
  {% assign related_commentaries = site.posts | where: "relative_path", related | first %}
{%- endfor -%}

{% assign related_posts = related_spotlights | concat: related_commentaries %}

{% if related_posts.size > 0 %}
<div class="related-posts">
<span class="related-posts__header">{{ site.data.language.related_commentary }}</span>
  {%- for related in related_posts -%}
    <div class="related-posts__block">
      <h2 class="related-posts__block-title">{{ related.title }}</h2>
      <span class="related-posts__block-label">{{ site.data.language.published_label }}</span> {{ related.date | date: site.date_format }}
    </div>
  {% endfor %}
</div>
{% endif %}
