{% assign spotlights = page.related_spotlight %}
{% assign commentaries = page.related_commentary %}
{% assign related_posts = spotlights | concat: commentaries | sort: 'date' %}

{% if related_posts.size > 0 %}
<div class="related-posts">
<span class="related-posts__header">{{ site.data.language.related_commentary }}</span>
  {%- for related in related_posts -%}
  {%- assign related_info = site.spotlights | where: "relative_path", related | first -%}
  {%- unless related.collection == 'posts'-%}
    {%- assign related_info = site.posts | where: "relative_path", related | first -%}
  {%- endunless -%}
  <div class="related-posts__block">
    <h2 class="related-posts__block-title">{{ related_info.title }}</h2>
    <span class="related-posts__block-label">{{ site.data.language.published_label }}</span> {{ related_info.date | date: site.date_format }}
  </div>
  {% endfor %}
</div>
{% endif %}
