{% assign related_posts = page.related_commentary | concat: page.related_spotlight %}

{% if related_posts.size > 0 %}

  {% assign related_posts_full = '' | split: '' %}

  {% assign all_content = site.posts | concat: site.spotlights | sort: "date" | reverse %}
  <!-- Add a counter to break for loop when maximum amount is reached -->

  {% for post in all_content %}
    {% if related_posts contains post.relative_path %}
      {% assign related_posts_full = related_posts_full | push: post %}
    {% endif %}

    {% if related_posts_full.size == 2 %}{% break %}{% endif %}
  {% endfor %}
  <div class="related-posts">
    <div class="related-posts__header">{{ site.data.language.related_commentary }}</div>
      {% for post in related_posts_full %}
        {%- include post-block.html minimal=true -%}
      {% endfor %}
  </div>

{% endif %}
