<footer class="spotlight__footer">
  {%- if page.methodology -%}
  <section>
    <div class="heading">{{ site.data.language.methodology }}</div>
    <div class="text">
      {{ page.methodology | markdownify }}
    </div>
  </section>
  {%- endif -%}

  {%- if page.further_reading -%}
  <section>
    {%- include further-reading.html -%}
  </section>
  {%- endif -%}

  <section class="spotlight__footer__credits">
    <div class="heading">{{ site.data.language.credits }}</div>


    <div class="subheading">{{ site.data.language.authors }}</div>
    {%- for author in page.authors -%}
    {%- assign author_info = site.authors | where: "relative_path", author | first -%}
      <div class="authors-block">
        {%- if author_info.headshot.size > 0 -%}
          <img class="authors-block__photo" src="{{ author_info.headshot }}" />
        {%- endif -%}
        <div class="authors-block__bio text">
          {{ author_info.content }}
        </div>
      </div>

    {%- endfor -%}

    {%- for contributor in page.contributors -%}
      <div class="subheading">{{ contributor.label }}</div>
      <div class="text">
        {{ contributor.content }}
      </div>
    {%- endfor -%}

  </section>
</footer>
