{%- assign images = include.images | strip_newlines | split: "~"  -%}
{%- assign captions = include.captions | strip_newlines | split: "~"  -%}
{%- assign credits_array = include.credits | strip_newlines | split: "~"  -%}
{%- assign credits = '' | split: ',' -%}

{%- for item in credits_array -%}
  {%- assign credit = item | strip  -%}
  {%- if credit.size > 0 -%}
    {%- capture credit -%}<span class="sc-image-gallery__captions-single__text-source">{{ credit }}</span>{%- endcapture -%}
  {%- else -%}
    {% assign credit = "" -%}
  {%- endif -%}
  {% assign credits = credits | push: credit -%}
{%- endfor -%}


<div class="sc-image-gallery spotlight-component sc--full">
  <div class="sc-image-gallery__images">
    {%- for image in images -%}

      {%- assign caption = captions[forloop.index0] -%}
      {%- assign credit = credits[forloop.index0] -%}

      {%- include sc-single-image.html
        path=image
        figcaption=false
        caption=caption
        credit=credit
        class="sc-image-gallery__image-single"
        -%}
    {%- endfor -%}
  </div>
  <div class="sc-image-gallery__captions">
    {%- for image in images -%}

      {%- assign caption = captions[forloop.index0] -%}
      {%- assign credit = credits[forloop.index0] -%}

    <div class="sc-image-gallery__captions-single">
      <span class="sc-image-gallery__captions-single__label">{{ forloop.index }} of 3</span>
      <span class="sc-image-gallery__captions-single__text">{{ captions[forloop.index0] }} {{ credits[forloop.index0] }}</span>
    </div>

    {%- endfor -%}
  </div>

</div>
