{%- assign align_class = null -%}
{%- if include.align -%}
  {%- assign align_class = include.align | prepend: 'sc--float-' -%}
  {%- assign width_class = 'sc--float-large' -%}
{%- endif -%}
{%- assign width_class = null -%}
{%- if include.width -%}
  {%- assign width_class = 'sc--max' -%}
{%- endif -%}


{%- assign images = include.images | map: "url"  -%}
{%- assign modes = include.images | map: "mode"  -%}
{%- assign captions = include.images | map: "caption"  -%}
{%- assign credits_array = include.images | map: "credit"  -%}
{%- assign credits = '' | split: ',' -%}
{%- assign credits = '' | split: ',' -%}

{%- for item in credits_array -%}
  {%- assign credit = item | strip  -%}
  {%- if credit.size > 0 -%}
    {%- capture credit -%}<span class="sc-image-group__caption__source">({{ credit }})</span>{%- endcapture -%}
  {%- else -%}
    {% assign credit = "" -%}
  {%- endif -%}
  {% assign credits = credits | push: credit -%}
{%- endfor -%}


{%- assign labels="top,middle,bottom" | split: "," -%}

{%- capture group_caption -%}
  {%- for image in images -%}
    <span class="sc-image-group__caption-label {{ labels[forloop.index0] }}"> </span>
    {{ captions[forloop.index0] }} {{ credits[forloop.index0] }} &nbsp;
{%- endfor -%}
{%- endcapture -%}


<div class="sc-image-group spotlight-component {{ align_class}} {{ width_class}}">

  <figure role="figure">
    <figure role="group" class="sc-image-group__images">
    {%- for image in images -%}
    {%- assign caption = captions[forloop.index0] -%}
    {%- assign credit = credits[forloop.index0] -%}

    {%- assign mode = null -%}
    {%- if modes[forloop.index0].size > 0 -%}
      {%- assign mode=modes[forloop.index0] | prepend: '--' | prepend: 'sc-image-group__images-single' -%}
    {%- endif -%}

      {%- include sc-single-image.html
        path=image
        figcaption=false
        caption=caption
        credit=credit
        class='sc-image-group__images-single'
        mode=mode
        height=include.height
        -%}
    {%- endfor -%}
    </figure>
    <figcaption class="sc-image-group__caption">
      {{ group_caption }}
    </figcaption>
  </figure>
</div>
