{%- assign align_class = null -%}
{%- if include.align -%}
  {%- assign align_class = include.align | prepend: ' sc--float-' -%}
{%- endif -%}
{%- assign width_class = null -%}
{%- if include.width -%}
  {%- assign width_class = include.width | prepend: ' sc--' -%}
{%- endif -%}
{%- if include.width and include.align -%}
  {%- assign width_class = include.width | prepend: ' sc--float-' -%}
{%- endif -%}

{%- if include.class -%}
  {%- assign component_class = include.class -%}
{%- else -%}
  {%- assign component_class = 'spotlight-component single-image' -%}
{%- endif -%}

{%- assign classes = align_class | prepend: width_class | prepend: ' ' | prepend: component_class -%}

{% include cloudinary-responsive-img.html figcaption=include.figcaption path=include.path title=include.caption alt= include.credit classes=classes %}
