$spotlight: '.arctic';
$color__default-accent: #63b1e0;
$color__default-accent--hover: rgba($color__default-accent, 0.8);

$color__map-bg: #647899;
$color__map-ice-base: #b6c2d1;
$color__map-median: #d8ab52;

$hidden-years: (2015, 2016, 2017);

$color__map-ice: (
  2018: $color__map-ice-base,
  2017: #a39ebf,
  2016: #907bac,
  2015: #7d579a
);

:root {
  --accent-color: #{$color__default-accent};
  --accent-color--hover: #{$color__default-accent--hover};
}
