.site-footer__nav {
  display: none;
  padding-left: 0;
  list-style: none;

  @include breakpoint('medium') {
    display: flex;
    flex-wrap: wrap;
  }

  li {
    &:not(:last-of-type) {
      margin-right: 3rem;
    }

    a {
      @extend %header-nav__link;
      text-transform: uppercase;
      color: $color__slate-light;

      &:hover {
        color: $color__white;
      }
    }
  }
}
