/*===================================
=            Site Header            =
====================================*/

.site-header {
  position: fixed;
  top: 0;
  z-index: 10;
  width: 100%;
  @include structure($size__header-height, 'height', ('small', 'medium'));
  // prettier-ignore
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.43));
  transition: all 0.2s ease-in-out;

  &--minimal {
    @include structure(
      $size__header-height--minimal,
      'height',
      ('small', 'medium')
    );
    @include site-header-white;
  }

  &--menu-active {
    @include site-header-white;
  }

  .wrapper {
    display: flex;
    align-items: center;
    height: 100%;
  }
}
