/*===========================
=                           =
=    Spotlight Components   =
=                           =
===========================*/

.spotlight-component {
  text-align: center;

  &__label {
    @extend %post-content__caption-label;
    display: block;
  }

  &__caption {
    @extend %post-content__caption-desc--sm;
    display: block;
  }

  &__description {
    @extend %post-content__caption;
    display: block;
  }
}

/*===========================
=                           =
=     Reference Link        =
=                           =
===========================*/

.reference-link {

  &-icon {
    display: inline;
  }

  @include breakpoint('medium') {
    text-align: left;
  }
}
