/*============================
=        Post Meta           =
============================*/

.post-meta {
  @extend %post-block__meta;
  color: $color__black;
  text-transform: uppercase;

  &__label {
    @extend %post-block__meta-label;
    color: $color__dkgray;
    line-height: 1.3rem;
    text-transform: capitalize;
  }

  &__bio {
    @extend %post-content__caption-desc;
    text-transform: none;
  }

  &__date::after {
    .post__content-aside & {
      content: '';
      display: block;
      width: 45%;
      margin-top: 1rem;
      margin-bottom: 1rem;
      border-bottom: solid 1px $color__ltgray;

      @include breakpoint('large') {
        width: 100%;
      }
    }
  }

  &__read-more {
    @extend %post-content__caption-link;
    text-transform: uppercase;
  }

  .post-block & {
    div {
      padding-right: 0.3rem;
    }
  }
}
