.layout-spotlight {
  .page-content {
    @include structure($size__header-height, 'margin-top', ('small', 'large'));
  }
}

.spotlight {
  &__header {
    height: 800px;
  }

  &__content {
    @include structure($size__spotlight-container-width, 'width');
    margin: 0 auto;
  }

  &__content-body {
    > *:not(.spotlight-component) {
      @include breakpoint('large') {
        width: $size__spotlight-body-width;
        margin: 0 auto;
      }
    }
  }

  &-component {
    background-color: $color__test;

    &__label {
      @extend %post-content__caption-label;
      display: block;
    }

    &__caption {
      @extend %post-content__caption-desc--sm;
      display: block;
    }

    &__description {
      @extend %post-content__caption;
      display: block;
    }

    &__number {
      font-size: 64px;
      font-family: $font__proxima;
      font-weight: 600;
      line-height: 60px;
    }
  }
}
