.layout-spotlight {
  .page-content {
    @include structure($size__header-height, 'margin-top', ('small', 'large'));
  }
}

.spotlight {
  &__header {
    height: 800px;
  }

  &__content {
    @include structure($size__spotlight-container-width, 'width');
    margin: 0 auto;
  }

  &__content-body {
    > *:not(.spotlight-component) {
      @include breakpoint('large') {
        width: $size__spotlight-body-width;
        margin: 0 auto;
      }
    }
  }

  &-component {
    // background-color: $color__test;
  }
}
