:root {
  --accent-color: $color__red;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  /* Fallback for when there is no custom background color defined. */
  --breakpoint: 'xsmall';
  max-width: 100%;
  overflow-x: hidden;
  background: $color__background-body;
  background-image: url('https://via.placeholder.com/1000x300');
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: 100% auto;

  @include breakpoint('small') {
    --breakpoint: 'small';
  }

  @include breakpoint('medium') {
    --breakpoint: 'medium';
  }

  @include breakpoint('large') {
    --breakpoint: 'large';
  }
}

.wrapper {
  @include structure($size__container-max-width, 'max-width');
  margin: 0 auto;
  @include structure($size__container-padding, 'padding');
}
