.js-transition--slide {
  &.js-transition--slide-root {
    transform: translateX(50px);
    visibility: hidden;
    opacity: 0;
    transition: all 1s ease-in-out;

    &.js-transition--active {
      transform: none;
      visibility: visible;
      opacity: 1;
    }
  }

  &.js-transition--slide-child {
    visibility: hidden;
    opacity: 0;
    transition: all 0.5s ease-in-out;

    > * {
      transform: translateX(50px);
      transition: all 1s ease-in-out;
    }

    &.js-transition--active {
      visibility: visible;
      opacity: 1;

      > * {
        transform: none;
      }
    }
  }
}
