<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.layout | slugify | prepend: 'layout-'}}">

    {%- include header.html -%}

    {%- assign site_wrapper_class = 'wrapper' -%}
    {%- if page.layout == 'home' -%}
    {% assign site_wrapper_class = 'wrapper--home' %}
    {%- endif -%}

    <main class="page-content {{ site_wrapper_class }}" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>
