<!DOCTYPE html>
<html lang="{{ page.lang | default: site.lang | default: "en" }}">

  {%- include head.html -%}

  <body class="{{ page.layout | slugify | prepend: 'layout-'}} {% if page.is_404 %}layout-404{% endif %}">

    {%- include header.html -%}

    {%- assign site_wrapper_class = 'wrapper' -%}
    {%- if page.wrapper -%}
    {% assign site_wrapper_class = page.wrapper | prepend: 'wrapper--' %}
    {%- endif -%}

    <main class="page-content {{ site_wrapper_class }}" aria-label="Content">
      {{ content }}
    </main>

    {%- include footer.html -%}

  </body>

</html>
