---
layout: default
---
<section class="home">
  <section class="home__about">
    <section class="home__about-info">
      <h2 class="section-title">About this project</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
    </section>
    <section class="home__about-video">About Video</section>
    <section class="home__about-learn home__button">
      <a href="/about">Learn More</a>
    </section>
  </section>
  <section class="home__spotlights">
    <section class="home__spotlights-intro">
      <div class="home__spotlights-subheading">Featured Essays</div>
      <h2 class="section-title">Spotlights</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua.</p>
    </section>
    <section class="home__spotlights-posts">
      Posts
    </section>
    <section class="home__spotlights-more home__button">
      <a href="/spotlights">All Spotlights</a>
    </section>
  </section>
  <section class="home__commentary">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna
      aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat.
      Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint
      occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
  </section>
</section>