---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
  <header class="post__header">
    <div class="post__header-content">
      <h1 class="post-title p-name" itemprop="name headline">
        {{ page.title | escape }}
      </h1>
    </div>
    {%- include social-share.html class="post__header" -%}
  </header>
  <section class="post__content e-content" itemprop="articleBody">
    <p class="post-lede">{{ page.mission_statement | replace: '***', "</br></br>" }}</p>
    <div class="post__content-body post-content">{{ content }}</div>

    {%-if page.name=="about.md" -%}
    <div class="about">
      <h2>{{ site.data.language.the_team }}</h2>
        {%- for person in page.team -%}
        <div class="about-person">

          <h3 class="about-heading">{{ person.name }}</h3>
          <div class="about-subheading">{{ person.title }}</div>
          <img data-src="{{ person.headshot | relative_url }}" alt="{{ person.name | escape }}" title="{{ person.name | escape }}" class="lazyload" />
          {{ person.bio | markdownify }}

        </div>
        {%- endfor -%}
      <h3>{{ site.data.language.development_team }}</h3>
      <p>{{ site.data.language.ilab | markdownify }}</p>
    </div>
    {%- endif -%}

  </section>
  <footer class="post__footer">
    <section class="post__footer-top">
      {%- include social-share.html class="post__footer" -%}
    </section>
    <section class="post__footer-middle js-footer-bg js-footer-bg-switch">
    </section>
  </footer>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
