---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  <header class="post__header">
    <div class="post__header-content">
      Collection Type
      <h1 class="post-title p-name" itemprop="name headline">{{ page.title | escape }}</h1>
      Social Share
    </div>
  </header>
  <section class="post__content e-content" itemprop="articleBody">
    <div class="post-lede">Lead</div>
    <div class="post__content-aside">
      - Publish Date<br />
      - Authors List<br />
    </div>
    <div class="post-body">
      {{ content }}
    </div>
  </section>
  <section class="post__footer">
    <section class="post__footer-top">
      <div>tags</div>
      <div>social share</div>
    </section>
    <section class="post__footer-middle">
      Further Reading
    </section>
    <section class="post__footer-end">
      Related Commentary
    </section>
  </section>
  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>
</article>
