---
layout: default
---
<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">

  {% if page.include_header %}
  {% include_relative {{ page.include_header }} %}
  {% else %}

  <header class="spotlight__header">
    {% include post-title.html %}
    {%- include authors-list.html -%}
    {%- include date.html -%}
  </header>
  {% endif %}

  <section class="spotlight__content e-content" itemprop="articleBody">
    <div class="spotlight__content-body post-content">{{ content }}</div>
  </section>

  {%- include sc-footer.html -%}

  <a class="u-url" href="{{ page.url | relative_url }}" hidden></a>

</article>
